USE [master]
GO
/****** Object:  Database [SnowDent]    Script Date: 8/07/2025 03:24:29 ******/
CREATE DATABASE [SnowDent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SnowDent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SnowDent.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SnowDent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SnowDent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SnowDent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SnowDent]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[PacienteDNI] [nvarchar](20) NOT NULL,
	[OdontologoId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Estado] [varchar](25) NOT NULL,
 CONSTRAINT [PK__Citas__3214EC075B6FDAA2] PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[EspecialidadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[EspecialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialClinico]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialClinico](
	[IdHistoriaClinica] [int] IDENTITY(1,1) NOT NULL,
	[CitaId] [int] NOT NULL,
	[HistorialGeneralId] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Observaciones] [nvarchar](max) NOT NULL,
	[IdTipoTratamiento] [int] NOT NULL,
 CONSTRAINT [PK__Historia__3214EC07A5A5737A] PRIMARY KEY CLUSTERED 
(
	[IdHistoriaClinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialGeneral]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialGeneral](
	[IdHistoriaGeneral] [int] IDENTITY(1,1) NOT NULL,
	[PacienteDNI] [nvarchar](20) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistoriaGeneral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odontologo]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odontologo](
	[Id] [int] NOT NULL,
	[DNI] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [varchar](10) NOT NULL,
	[TurnoId] [int] NOT NULL,
	[EspecialidadId] [int] NOT NULL,
 CONSTRAINT [PK__Odontolo__3214EC07308C505A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[DNI] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Celular] [nvarchar](20) NOT NULL,
	[Genero] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTratamiento]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTratamiento](
	[IdTipoTratamiento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoTratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[IdTratamiento] [int] IDENTITY(1,1) NOT NULL,
	[CitaId] [int] NOT NULL,
	[TipoId] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[FechaProximaCita] [date] NOT NULL,
	[HoraProximaCita] [time](7) NOT NULL,
	[InicioTratamiento] [date] NOT NULL,
	[FinTratamiento] [date] NOT NULL,
	[IdHistorialClinico] [int] NOT NULL,
	[Diagnostico] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Tratamie__3214EC07337C9B1C] PRIMARY KEY CLUSTERED 
(
	[IdTratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[TurnoId] [int] IDENTITY(1,1) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[TurnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/07/2025 03:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Role] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cita] ON 

INSERT [dbo].[Cita] ([IdCita], [PacienteDNI], [OdontologoId], [Fecha], [Hora], [Estado]) VALUES (3, N'60827004', 36, CAST(N'2025-07-22' AS Date), CAST(N'09:00:00' AS Time), N'Cancelada')
INSERT [dbo].[Cita] ([IdCita], [PacienteDNI], [OdontologoId], [Fecha], [Hora], [Estado]) VALUES (4, N'75535896', 42, CAST(N'2025-07-15' AS Date), CAST(N'09:00:00' AS Time), N'Programada')
INSERT [dbo].[Cita] ([IdCita], [PacienteDNI], [OdontologoId], [Fecha], [Hora], [Estado]) VALUES (5, N'60827004', 36, CAST(N'2025-07-22' AS Date), CAST(N'10:00:00' AS Time), N'Cancelada')
SET IDENTITY_INSERT [dbo].[Cita] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre]) VALUES (1, N'Odontología General')
INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre]) VALUES (2, N'Ortodoncia')
INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre]) VALUES (3, N'Endodoncia')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialClinico] ON 

INSERT [dbo].[HistorialClinico] ([IdHistoriaClinica], [CitaId], [HistorialGeneralId], [FechaCreacion], [Observaciones], [IdTipoTratamiento]) VALUES (3, 4, 4, CAST(N'2025-07-07T22:36:47.507' AS DateTime), N'Paciente con un seguimiento de tratamiento', 3)
SET IDENTITY_INSERT [dbo].[HistorialClinico] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialGeneral] ON 

INSERT [dbo].[HistorialGeneral] ([IdHistoriaGeneral], [PacienteDNI], [Titulo]) VALUES (3, N'74722361', N'Odontopediatria')
INSERT [dbo].[HistorialGeneral] ([IdHistoriaGeneral], [PacienteDNI], [Titulo]) VALUES (4, N'75535896', N'Estetica dental')
SET IDENTITY_INSERT [dbo].[HistorialGeneral] OFF
GO
INSERT [dbo].[Odontologo] ([Id], [DNI], [Nombre], [Apellido], [FechaRegistro], [Estado], [TurnoId], [EspecialidadId]) VALUES (34, N'12345678', N'Luis', N'Bustamante', CAST(N'2025-07-07T01:43:06.137' AS DateTime), N'Inactivo', 1, 1)
INSERT [dbo].[Odontologo] ([Id], [DNI], [Nombre], [Apellido], [FechaRegistro], [Estado], [TurnoId], [EspecialidadId]) VALUES (35, N'23456789', N'Gabriel', N'Rivera', CAST(N'2025-07-07T06:26:49.233' AS DateTime), N'Inactivo', 3, 3)
INSERT [dbo].[Odontologo] ([Id], [DNI], [Nombre], [Apellido], [FechaRegistro], [Estado], [TurnoId], [EspecialidadId]) VALUES (36, N'35895634', N'Javier', N'Alvarado', CAST(N'2025-07-07T19:12:37.370' AS DateTime), N'Activo', 3, 3)
GO
INSERT [dbo].[Paciente] ([DNI], [Nombre], [Apellido], [Celular], [Genero], [Email], [FechaRegistro], [Estado]) VALUES (N'60827004', N'Melanie', N'Oliva', N'967890086', N'Femenino', N'mel.olivac@gmail', CAST(N'2025-07-07T19:13:18.080' AS DateTime), N'Inactivo')
INSERT [dbo].[Paciente] ([DNI], [Nombre], [Apellido], [Celular], [Genero], [Email], [FechaRegistro], [Estado]) VALUES (N'74722361', N'Luz', N'Cochachi Esteban', N'910836284', N'Femenino', N'luzclaritacochachi21@gmail.com', CAST(N'2025-07-07T22:23:14.097' AS DateTime), N'Inactivo')
INSERT [dbo].[Paciente] ([DNI], [Nombre], [Apellido], [Celular], [Genero], [Email], [FechaRegistro], [Estado]) VALUES (N'75535896', N'Allison', N'Galindo Palomino', N'984188552', N'Femenino', N'allisongalindou@gmail.com', CAST(N'2025-07-07T22:25:56.770' AS DateTime), N'Activo')
GO
SET IDENTITY_INSERT [dbo].[TipoTratamiento] ON 

INSERT [dbo].[TipoTratamiento] ([IdTipoTratamiento], [Nombre]) VALUES (1, N'Ortodoncia')
INSERT [dbo].[TipoTratamiento] ([IdTipoTratamiento], [Nombre]) VALUES (2, N'Odontopediatria')
INSERT [dbo].[TipoTratamiento] ([IdTipoTratamiento], [Nombre]) VALUES (3, N'Estetica dental')
SET IDENTITY_INSERT [dbo].[TipoTratamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Tratamiento] ON 

INSERT [dbo].[Tratamiento] ([IdTratamiento], [CitaId], [TipoId], [Estado], [FechaProximaCita], [HoraProximaCita], [InicioTratamiento], [FinTratamiento], [IdHistorialClinico], [Diagnostico]) VALUES (3, 4, 3, N'Terminado', CAST(N'2025-07-30' AS Date), CAST(N'10:00:00' AS Time), CAST(N'2025-07-16' AS Date), CAST(N'2025-07-20' AS Date), 3, N'Limpieza dental')
INSERT [dbo].[Tratamiento] ([IdTratamiento], [CitaId], [TipoId], [Estado], [FechaProximaCita], [HoraProximaCita], [InicioTratamiento], [FinTratamiento], [IdHistorialClinico], [Diagnostico]) VALUES (6, 4, 4, N'Inicio', CAST(N'2025-07-09' AS Date), CAST(N'13:00:00' AS Time), CAST(N'2025-07-01' AS Date), CAST(N'2025-07-23' AS Date), 3, N'mmk')
INSERT [dbo].[Tratamiento] ([IdTratamiento], [CitaId], [TipoId], [Estado], [FechaProximaCita], [HoraProximaCita], [InicioTratamiento], [FinTratamiento], [IdHistorialClinico], [Diagnostico]) VALUES (7, 4, 5, N'Terminado', CAST(N'2025-07-23' AS Date), CAST(N'10:30:00' AS Time), CAST(N'2025-07-10' AS Date), CAST(N'2025-07-30' AS Date), 3, N'Ncesita implantes urgente')
SET IDENTITY_INSERT [dbo].[Tratamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([TurnoId], [HoraInicio], [HoraFin]) VALUES (1, CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time))
INSERT [dbo].[Turno] ([TurnoId], [HoraInicio], [HoraFin]) VALUES (3, CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time))
INSERT [dbo].[Turno] ([TurnoId], [HoraInicio], [HoraFin]) VALUES (4, CAST(N'14:00:00' AS Time), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Username], [PasswordHash], [Role]) VALUES (2, N'cmendoza', N'clave456', N'Recepcionista')
INSERT [dbo].[Usuario] ([Id], [Username], [PasswordHash], [Role]) VALUES (5, N'hflores', N'clave234', N'Odontólogo')
INSERT [dbo].[Usuario] ([Id], [Username], [PasswordHash], [Role]) VALUES (6, N'tramirez', N'clave789', N'Odontólogo')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Odontolo__C035B8DD59C2470A]    Script Date: 8/07/2025 03:24:30 ******/
ALTER TABLE [dbo].[Odontologo] ADD  CONSTRAINT [UQ__Odontolo__C035B8DD59C2470A] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__536C85E4065DFAB5]    Script Date: 8/07/2025 03:24:30 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Odontologos] FOREIGN KEY([OdontologoId])
REFERENCES [dbo].[Odontologo] ([Id])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Citas_Odontologos]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Pacientes] FOREIGN KEY([PacienteDNI])
REFERENCES [dbo].[Paciente] ([DNI])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Citas_Pacientes]
GO
ALTER TABLE [dbo].[HistorialClinico]  WITH CHECK ADD  CONSTRAINT [FK_HistClinico_Citas] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Cita] ([IdCita])
GO
ALTER TABLE [dbo].[HistorialClinico] CHECK CONSTRAINT [FK_HistClinico_Citas]
GO
ALTER TABLE [dbo].[HistorialClinico]  WITH CHECK ADD  CONSTRAINT [FK_HistorialClinico_HistorialGeneral] FOREIGN KEY([HistorialGeneralId])
REFERENCES [dbo].[HistorialGeneral] ([IdHistoriaGeneral])
GO
ALTER TABLE [dbo].[HistorialClinico] CHECK CONSTRAINT [FK_HistorialClinico_HistorialGeneral]
GO
ALTER TABLE [dbo].[HistorialClinico]  WITH CHECK ADD  CONSTRAINT [FK_HistorialClinico_TipoTratamiento] FOREIGN KEY([IdTipoTratamiento])
REFERENCES [dbo].[TipoTratamiento] ([IdTipoTratamiento])
GO
ALTER TABLE [dbo].[HistorialClinico] CHECK CONSTRAINT [FK_HistorialClinico_TipoTratamiento]
GO
ALTER TABLE [dbo].[HistorialGeneral]  WITH CHECK ADD  CONSTRAINT [FK_HistGen_Pacientes] FOREIGN KEY([PacienteDNI])
REFERENCES [dbo].[Paciente] ([DNI])
GO
ALTER TABLE [dbo].[HistorialGeneral] CHECK CONSTRAINT [FK_HistGen_Pacientes]
GO
ALTER TABLE [dbo].[Odontologo]  WITH CHECK ADD  CONSTRAINT [FK_Odontologo_Especialidad] FOREIGN KEY([EspecialidadId])
REFERENCES [dbo].[Especialidad] ([EspecialidadId])
GO
ALTER TABLE [dbo].[Odontologo] CHECK CONSTRAINT [FK_Odontologo_Especialidad]
GO
ALTER TABLE [dbo].[Odontologo]  WITH CHECK ADD  CONSTRAINT [FK_Odontologo_Turno] FOREIGN KEY([TurnoId])
REFERENCES [dbo].[Turno] ([TurnoId])
GO
ALTER TABLE [dbo].[Odontologo] CHECK CONSTRAINT [FK_Odontologo_Turno]
GO
ALTER TABLE [dbo].[Odontologo]  WITH CHECK ADD  CONSTRAINT [FK_Odontologos_Usuarios] FOREIGN KEY([Id])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Odontologo] CHECK CONSTRAINT [FK_Odontologos_Usuarios]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Tratamiento_Cita] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Cita] ([IdCita])
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK_Tratamiento_Cita]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Tratamiento_HistorialClinico] FOREIGN KEY([IdHistorialClinico])
REFERENCES [dbo].[HistorialClinico] ([IdHistoriaClinica])
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK_Tratamiento_HistorialClinico]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Tratamientos_Tipos] FOREIGN KEY([TipoId])
REFERENCES [dbo].[TipoTratamiento] ([IdTipoTratamiento])
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK_Tratamientos_Tipos]
GO
USE [master]
GO
